In [1]:
# Let's import all required libraries
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time

In [2]:
"""
Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
"""
# Connect to web driver
driver = webdriver.Chrome('chromedriver.exe')

# Maximize the automated chrome window
driver.maximize_window()

# Opening up naukri.com website on automated chrome window
url = 'https://www.naukri.com/'
driver.get(url)

# finding web element for Skill, Designations, Companies search job bar
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Analyst")

# finding web element for search location bar
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div[1]/input')
search_locn.send_keys("Bangalore")

# clicking on search button
search_btn = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()
time.sleep(3)

# Let's extract all web elements having job titles
job_titles = []
title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_titles.append(i.text)
del job_titles[10:]


# Let's extract all web elements having location
location = []
locn_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in locn_tags:
    location.append(i.text)
del location[10:]


# Let's extract all web elements having company names
company_names = []
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_names.append(i.text)
del company_names[10:]


# let's extract all web elements having experience
experience = []
exp_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags:
    experience.append(i.text)
del experience[10:]

#creating a data frame
df = pd.DataFrame({'Job Title':job_titles, 'Company':company_names, 'Experience':experience, 'Location':location})
df

,Job Title,Company,Experience,Location
0,Data Analyst,Cargill,3-5 Yrs,Bangalore/Bengaluru
1,APRP Manager / Senior Data Analyst - MeritTrac...,MeritTrac,9-14 Yrs,Bangalore/Bengaluru
2,Sr Data Analyst,Inspira Enterprise India Pvt. Ltd.,3-4 Yrs,Bangalore/Bengaluru
3,Senior Data Management Analyst,Wells Fargo,5-7 Yrs,Bangalore/Bengaluru
4,Senior Data Analyst - PLM Data Migration,CGI,3-6 Yrs,Bangalore/Bengaluru
5,People Data Analyst,Western Digital,6-8 Yrs,Bangalore/Bengaluru
6,Associate Healthcare Research & Data Analyst,Clarivate,3-4 Yrs,Bangalore/Bengaluru
7,Lead Data Analyst,Mobile Premier League (MPL),4-7 Yrs,Bangalore/Bengaluru
8,Contractual Hiring For Top MNC || Business Dat...,TeamLease,5-8 Yrs,Bangalore/Bengaluru
9,Master Data Management Business Analyst,Accenture,6-8 Yrs,Bangalore/Bengaluru

In [3]:
"""
Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
"""

# Connect to web driver
driver = webdriver.Chrome('chromedriver.exe')

# Maximize the automated chrome window
driver.maximize_window()

# Opening up naukri.com website on automated chrome window
url = 'https://www.naukri.com/'
driver.get(url)

# finding web element for Skill, Designations, Companies search job bar
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

# finding web element for search locn bar
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div[1]/input')
search_locn.send_keys("Bangalore")

# clicking on search button
search_btn = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()
time.sleep(3)

# Let's extract all web elements having job titles
job_titles = []
title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_titles.append(i.text)
del job_titles[10:]


# Let's extract all web elements having location
location = []
locn_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in locn_tags:
    location.append(i.text)
del location[10:]


# Let's extract all web elements having company names
company_names = []
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_names.append(i.text)
del company_names[10:]


# let's extract all web elements having experience
experience = []
exp_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags:
    experience.append(i.text)
del experience[10:]

#creating a data frame
df = pd.DataFrame({'Job Title':job_titles, 'Company':company_names, 'Experience':experience, 'Location':location})
df

,Job Title,Company,Experience,Location
0,Analystics & Modeling Specialist,Accenture,6-8 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
1,Assistant Manager - Data Science,Citiustech,5-9 Yrs,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune"
2,Senior Data Scientist,Wipro,6-11 Yrs,"Hybrid - Bangalore/Bengaluru, Pune, Chennai"
3,"Program Manager, Analytics",Uber,3-7 Yrs,Bangalore/Bengaluru
4,Data Scientist - Looking For Immediate Joiners,Wipro,5-10 Yrs,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund..."
5,Data Scientist,Altair,2-7 Yrs,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P..."
6,Senior Data Scientist,Boston Consulting Group,5-10 Yrs,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai"
7,Data Scientist - II,Bizongo,3-6 Yrs,"Bangalore/Bengaluru, India, Mumbai (All Areas)"
8,Lead ML Scientist,Fractal Analytics,6-10 Yrs,"Bangalore/Bengaluru, Mumbai"
9,Senior Data Scientist,Baker Hughes,6-8 Yrs,"Bangalore/Bengaluru, Mumbai"

In [4]:
"""
Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
"""

# Connect to web driver
driver = webdriver.Chrome('chromedriver.exe')

# Maximize the automated chrome window
driver.maximize_window()

# Opening up naukri.com website on automated chrome window
url = 'https://www.naukri.com/'
driver.get(url)

# finding web element for Skill, Designations, Companies search job bar
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

# clicking on search
search_btn = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()
time.sleep(3)

# clicking on Delhi / NCR in location filter
locn_filter = driver.find_element(By.XPATH,"//span[@title = 'Delhi / NCR']")
locn_filter.click()
time.sleep(3)

# clicking on 3-6 Lakhs in salary filter
sal_filter = driver.find_element(By.XPATH,"//span[@title = '3-6 Lakhs']")
sal_filter.click()
time.sleep(3)

# Let's extract all web elements having job titles
job_titles = []
title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_titles.append(i.text)
del job_titles[10:]


# Let's extract all web elements having location
location = []
locn_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in locn_tags:
    location.append(i.text)
del location[10:]


# Let's extract all web elements having company names
company_names = []
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_names.append(i.text)
del company_names[10:]


# let's extract all web elements having experience
experience = []
exp_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags:
    experience.append(i.text)
del experience[10:]

# creating a dataframe
df = pd.DataFrame({'Job Title':job_titles, 'Company':company_names, 'Experience':experience, 'Location':location})
df

,Job Title,Company,Experience,Location
0,Data Scientist,HCLTech,4-9 Yrs,"Noida, Hyderabad/Secunderabad, Chennai, Bangal..."
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
2,Urgent hiring For Data Scientist (PHD Must Have),NGI Ventures,0-4 Yrs,"Temp. WFH - Noida, Pune"
3,Manager - Data Science - Banking&Financial Ser...,Black Turtle,4-8 Yrs,"Delhi / NCR, Bangalore/Bengaluru"
4,Data Scientist / Sr. Data Scientist,Wegarner Solutions,3-8 Yrs,Temp. WFH - Noida
5,Data Scientist,torcai digital media,2-7 Yrs,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru..."
6,Data Scientist,Meon Technologies,2-5 Yrs,Noida
7,Data Scientist,Alliance Recruitment Agency,3-4 Yrs,Noida
8,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs,Gurgaon/Gurugram
9,Data Scientist,Razor Group GmbH,2-3 Yrs,New Delhi

In [5]:
"""
Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
"""

# Connect to web driver
driver = webdriver.Chrome('chromedriver.exe')

# Maximize the automated chrome window
driver.maximize_window()

# Opening up flipkart.com website on automated chrome window
url = 'https://www.flipkart.com/'
driver.get(url)

# clicking on CLOSE button of login popup
close = driver.find_element(By.XPATH, '//button[@class="_2KpZ6l _2doB4z"]')
close.click()
time.sleep(1)

# finding web element for search for products, brands and more bar
search_p = driver.find_element(By.CLASS_NAME,"_3704LK")
search_p.send_keys("sunglasses")

# clicking on search button
search_btn = driver.find_element(By.XPATH, '//button[@class="L0Z3Pu"]')
search_btn.click()
time.sleep(7)


# initializing required empty list
sunglasses = []
description = []
selling_price = []
discount = []

while len(sunglasses) < 100:

    # Let's extract all web elements having Brand name    
    glasses_tags = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in glasses_tags:
        sunglasses.append(i.text)

    # Let's extract all web elements having description    
    description_tags = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in description_tags:
        description.append(i.text)

    # Let's extract all web elements having selling price    
    selling_price_tags = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in selling_price_tags:
        selling_price.append(i.text)

    # Let's extract all web elements having discount    
    discount_tags = driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    for i in discount_tags:
        discount.append(i.text)

    # clicking on next page button
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]/span[contains(.,"Next")]')
    next_button.click()
    time.sleep(7)

# creating a dataframe
df = pd.DataFrame({'Brand':sunglasses[0:100], 'Description':description[0:100], "Seller's Price":selling_price[0:100], 'Discount':discount[0:100]})
df

,Brand,Description,Seller's Price,Discount
0,Singco India,"Aviator, Clubmaster, Oval, Over-sized, Rectang...",₹499,81% off
1,Fastrack,"Gradient, Toughened Glass Lens, UV Protection ...",₹575,80% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹649,35% off
3,PIRASO,UV Protection Rectangular Sunglasses (Free Size),₹519,35% off
4,Fastrack,UV Protection Rectangular Sunglasses (52),₹209,86% off
...,...,...,...,...
95,Fastrack,UV Protection Cat-eye Sunglasses (17),₹379,81% off
96,PIRASO,"UV Protection, Gradient, Night Vision, Riding ...",₹296,85% off
97,PIRASO,"UV Protection, Gradient Wayfarer Sunglasses (58)",₹322,78% off
98,Fastrack,"Polarized, UV Protection Cat-eye Sunglasses (55)",₹959,63% off
99,ROYAL SON,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹230,82% off

In [6]:
"""
Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&store=tyy%2F4io&srno=b_1_1&otracker=product_breadCrumbs_APPLE%20Mobiles&fm=organic&iid=ce328902-ec78-47b4-b66a-bd317b10011b.MOBFWQ6BXGJCEYNY.SEARCH&ppt=pp&ppn=pp&ssid=cufkce8yi80000001667569318763
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
"""

# Connect to web driver
driver = webdriver.Chrome('chromedriver.exe')

# Maximize the automated chrome window
driver.maximize_window()

# Opening up apple phone website on automated chrome window
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&store=tyy%2F4io&srno=b_1_1&otracker=product_breadCrumbs_APPLE%20Mobiles&fm=organic&iid=ce328902-ec78-47b4-b66a-bd317b10011b.MOBFWQ6BXGJCEYNY.SEARCH&ppt=pp&ppn=pp&ssid=cufkce8yi80000001667569318763'
driver.get(url)

# clicking on all reviews button to open reviews page
close = driver.find_element(By.XPATH, '//div[@class="_3UAT2v _16PBlm"]')
close.click()
time.sleep(1)

# initializing required empty lists
rating = []
review_summary = []
review = []

while len(rating) <100:
    
    # Let's extract all web elements for rating
    ratings_tags = driver.find_elements(By.XPATH,"//div[contains(@class, '_3LWZlK ')]")
    for i in ratings_tags:
        rating.append(i.text)

    # Let's extract all web elements for summary
    summary_tags = driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for i in summary_tags:
        review_summary.append(i.text)

    # Let's extract all web elements for review
    review_tags = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for i in review_tags:
        review.append(i.text)
        
    # clicking on next button to open next reviews page
    next_page = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]/span[contains(.,"Next")]')
    next_page.click()
    time.sleep(10)
    
# creating a dataframe
df = pd.DataFrame({'Rating':rating[:100], 'Review summary':review_summary[:100], "Full review":review[:100]})
df

,Rating,Review summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,1,Absolute rubbish!,Worst product delivered by Flipkart\nAfter 10d...
96,5,Awesome,I dreamt about this day from a long time.... G...
97,5,Just wow!,Great iphone.\nI am writing this review after ...
98,5,Super!,Did an upgrade from 6s plus to iphone 11.\nAo ...
99,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...

In [7]:
"""
Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.
"""

# Connect to web driver
driver = webdriver.Chrome('chromedriver.exe')

# Maximize the automated chrome window
driver.maximize_window()

# Opening up flipkart.com website on automated chrome window
url = 'https://www.flipkart.com/'
driver.get(url)

# clicking on CLOSE button of login popup
close = driver.find_element(By.XPATH, '//button[@class="_2KpZ6l _2doB4z"]')
close.click()
time.sleep(1)

# finding web element for search for products, brands and more bar
search_p = driver.find_element(By.CLASS_NAME,"_3704LK")
search_p.send_keys("sneakers")

# clicking on search button
search_btn = driver.find_element(By.XPATH, '//button[@class="L0Z3Pu"]')
search_btn.click()
time.sleep(1)


# initializing required empty lists
sneakers = []
description = []
selling_price = []
discount = []

while len(sneakers) < 100:

    # Let's extract all web elements having Brand name    
    sneakers_tags = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in sneakers_tags:
        sneakers.append(i.text)

    # Let's extract all web elements having description    
    description_tags = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in description_tags:
        description.append(i.text)

    # Let's extract all web elements having selling price    
    selling_price_tags = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in selling_price_tags:
        selling_price.append(i.text)

    # Let's extract all web elements having discount    
    discount_tags = driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    for i in discount_tags:
        discount.append(i.text)

    # clicking on next page button to scrape data from next page
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]/span[contains(.,"Next")]')
    next_button.click()
    time.sleep(7)

# creating the dataframe of required data
df = pd.DataFrame({'Brand':sneakers[0:100], 'Description':description[0:100], "Seller's Price":selling_price[0:100], 'Discount':discount[0:100]})
df

,Brand,Description,Seller's Price,Discount
0,Kraasa,Sneakers For Men,₹499,50% off
1,WARMFEET,Fancy Sneakers For Men,₹616,52% off
2,RED TAPE,Sneakers For Men,"₹1,149",77% off
3,Labbin,Sneakers For Men,₹395,60% off
4,DUCATI,Sneakers For Men,"₹1,219",65% off
...,...,...,...,...
95,Xtoon,Sneakers For Men,₹499,66% off
96,VALLINO Golf Shoes,SD-323 Sneakers For Men,"₹3,699",47% off
97,PUMA,ATG-415 Mesh Lace-Ups Sneakers For Men,"₹1,549",69% off
98,World Wear Footwear,x 1DER Jack V2 Sneakers For Men,₹249,50% off
99,Bond Street By Red Tape,"Outdoor Trendy Lightweight Casual,Canvas Styli...","₹1,529",70% off

In [8]:
"""
Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description,
price of the shoe as shown in the below image.
In Case, Inspect click don’t works, Please use ctrl+shift+c to inspect the element.
"""

# Connect to web driver
driver = webdriver.Chrome('chromedriver.exe')

# Maximize the automated chrome window
driver.maximize_window()

# Opening up myntra.com/shoes website on automated chrome window
url = 'https://www.myntra.com/shoes'
driver.get(url)

# clicking on black in color filter
color_filter = driver.find_element(By.XPATH,'//span[@data-colorhex = "black"]')
color_filter.click()
time.sleep(3)

# clicking on second price filter
price_filter = driver.find_element(By.XPATH,"/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()
time.sleep(3)

# initializing required empty lists
shoes = []
description = []
selling_price = []

while len(shoes) < 100:

    # Let's extract all web elements having Brand name    
    shoes_tags = driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
    for i in shoes_tags:
        shoes.append(i.text)

    # Let's extract all web elements having description    
    description_tags = driver.find_elements(By.XPATH,"//h4[@class='product-product']")
    for i in description_tags:
        description.append(i.text)

    # Let's extract all web elements having selling price    
    selling_price_tags = driver.find_elements(By.XPATH,"//div[@class='product-price']")
    for i in selling_price_tags:
        selling_price.append("Rs " + i.text.split("Rs.")[1].strip())

    # clicking on next page button to extract more data
    next_button = driver.find_element(By.XPATH, '//li[@class="pagination-next"]')  # to scrap data from next pages as well
    next_button.click()
    time.sleep(3)

# creating the dataframe of required data
df = pd.DataFrame({'Brand':shoes[0:100], 'Description':description[0:100], "Seller's Price":selling_price[0:100]})
df

           Brand                       Description Seller's Price
0         ADIDAS    Men Ultraboost 5.0 DNA Running       Rs 11899
1           Nike           JORDAN MAX AURA 4 Shoes       Rs 10165
2   UNDER ARMOUR    Men HOVR SonicSE Running Shoes        Rs 9999
3           Nike    AIR ZOOM G.T. Basketball Shoes       Rs 13595
4   UNDER ARMOUR    Men ChargedEscape 3 BL Running        Rs 8999
..           ...                               ...            ...
95           SKO  Men Perforations Leather Loafers        Rs 7500
96          ALDO             Women Solid Lug Boots       Rs 13999
97       Bugatti          Men Running Sports Shoes       Rs 13999
98          Geox         Woman Leather Ankle Boots       Rs 13990
99          Geox                 Women Solid Boots       Rs 13990

[100 rows x 3 columns]

In [9]:
'''
Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
'''

# Connect to web driver
driver = webdriver.Chrome('chromedriver.exe')

# Maximize the automated chrome window
driver.maximize_window()

# Opening up amazon.in website on automated chrome window
url = 'https://www.amazon.in/'
driver.get(url)


# finding web element for search
search_p = driver.find_element(By.XPATH,"//input[@id='twotabsearchtextbox']")
search_p.send_keys("Laptop")

# clicking on search button
search_btn = driver.find_element(By.XPATH, "//input[@id='nav-search-submit-button']")
search_btn.click()
time.sleep(1)

# clicking on Intel Core i7 from CPU type filter
cpu_filter = driver.find_element(By.XPATH,"//li[@aria-label='Intel Core i7']/span/a/span")
cpu_filter.click()
time.sleep(3)

# initializing required empty lists
titles = []
ratings = []
selling_price = []

# Let's extract all web elements having titles    
title_tags = driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags:
    titles.append(i.text)

# Let's extract all web elements for searched item using contains
items = driver.find_elements(By.XPATH,'//div[contains(@class, "s-result-item s-asin")]')

for i in items:
    
    # Let's extract all web elements for rating
    ratings_tags = i.find_elements(By.XPATH, './/div[@class="a-row a-size-small"]/span')
    
    if ratings_tags != []:
        rating = ratings_tags[0].get_attribute('aria-label')
    else:
        rating = 'null'
    ratings.append(rating)
    
    # Let's extract all web elements having selling price    
    price_tags = i.find_elements(By.XPATH, './/span[@class="a-price-whole"]')
    
    if price_tags != []:
        price = price_tags[0].text
    else:
        price = 'null'
    selling_price.append(price)

# creating the dataframe for the required data
df = pd.DataFrame({'Title':titles[0:10], 'Ratings':ratings[0:10], 'Selling Price':selling_price[0:10]})
df

,Title,Ratings,Selling Price
0,Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...,4.3 out of 5 stars,"83,990"
1,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,4.6 out of 5 stars,"80,490"
2,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",4.1 out of 5 stars,"93,999"
3,Acer Nitro 5 Gaming Laptop/12th Gen Intel Core...,3.9 out of 5 stars,"1,04,819"
4,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,3.6 out of 5 stars,"77,990"
5,Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....,5.0 out of 5 stars,"86,490"
6,(Renewed) HP ProBook 430 G3 6th Gen Intel Core...,3.5 out of 5 stars,"25,895"
7,Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...,4.3 out of 5 stars,"81,490"
8,Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...,3.8 out of 5 stars,"97,990"
9,(Renewed) HP Workstation Zbook Intel Core i7-4...,null,"21,990"

In [10]:
"""
Q9: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1.First get the webpage https://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quote
"""

# Connect to web driver
driver = webdriver.Chrome('chromedriver.exe')

# Maximize the automated chrome window
driver.maximize_window()

# Opening up www.azquotes.com website on automated chrome window
url = 'https://www.azquotes.com/'
driver.get(url)

# clicking on TOP QUOTES
top_quotes = driver.find_element(By.XPATH,'//*[@id="menu"]/div/div[3]/ul/li[5]/a')
top_quotes.click()
time.sleep(3)

# initializing required empty lists
quote =[]
author = []
type_of_quote = []

while len(quote) < 1000:

    # Let's extract all web elements having quotes    
    quote_tags = driver.find_elements(By.XPATH,"//a[@class='title']")
    for i in quote_tags:
        quote.append(i.text)

    # Let's extract all web elements having author name    
    author_tags = driver.find_elements(By.XPATH,"//div[@class='author']")
    for i in author_tags:
        author.append(i.text)

    # Let's extract all web elements having type of quote    
    type_of_quote_tags = driver.find_elements(By.XPATH,"//div[@class='tags']")
    for i in type_of_quote_tags:
        type_of_quote.append(i.text)

    # clicking on next button to extract from next page
    if len(quote) < 1000:
        next_button = driver.find_element(By.XPATH, '//li[@class="next"]/a')  # to scrap data from next pages as well
        next_button.click()
        time.sleep(3)

# creating the dataframe
df = pd.DataFrame({'Quote':quote, 'Author':author, "Type of Quote":type_of_quote})
df

,Quote,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,"No matter how plain a woman may be, if truth a...",Eleanor Roosevelt,"Beauty, Beautiful, Truth"

In [11]:
"""
Q10: Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame.
"""

# Connect to web driver
driver = webdriver.Chrome('chromedriver.exe')

# Maximize the automated chrome window
driver.maximize_window()

# Opening up www.jagranjosh.com website on automated chrome window
url = 'https://www.jagranjosh.com/'
driver.get(url)

# clicking on GK option
gk = driver.find_element(By.XPATH,'//*[@id="1540978020504"]/div[1]/header/div[3]/ul/li[9]')
gk.click()
time.sleep(3)

# clicking on List of all Prime Ministers of India
list_pm = driver.find_element(By.XPATH,'//*[@id="popluarGK"]/ul/li[2]')
list_pm.click()
time.sleep(3)

# initializing required empty lists
name = []
born_dead = []
term_of_office = []
remark = []
    
# Let's extract all web elements having name    
name_tags = driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr/td[2]/p')
for i in name_tags:
    name.append(i.text)
    
# Let's extract all web elements having born-dead    
born_dead_tags = driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr/td[3]/p')
for i in born_dead_tags:
    born_dead.append(i.text)
    
# Let's extract all web elements having term of office    
term_of_office_tags = driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr/td[4]')
for i in term_of_office_tags:
    term_of_office.append(i.text.replace(',',"").replace('\n', ', '))
    
# Let's extract all web elements having remarks    
remark_tags = driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr/td[5]/p')
for i in remark_tags:
    remark.append(i.text)
    
df = pd.DataFrame({'Name': name, 'Born-Dead': born_dead, 'Term of Office': term_of_office, 'Remarks': remark})
df

,Name,Born-Dead,Term of Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964, 16 years 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964, 13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966, 1 year 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),"11 January 1966 to 24 January 1966, 13 days",-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977, 11 years 59 ...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 , 2 year 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),"28 July 1979 to 14 January 1980, 170 days",Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984, 4 years 29...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989, 5 years 32...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),"2 December 1989 to 10 November 1990, 343 days",First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),"10 November 1990 to 21 June 1991, 223 days",He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996, 4 years 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),"16 May 1996 to 1 June 1996, 16 days",PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),"1 June 1996 to 21 April 1997, 324 days",He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),"21 April 1997 to 19 March 1998 , 332 days",------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 , 6 years 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 , 10 years 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [12]:
"""
Q11: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model name and Price)
from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on left side.
3. Then click on 50 most expensive cars in the world.
4. Then scrap the mentioned data and make the
"""

# Connect to web driver
driver = webdriver.Chrome('chromedriver.exe')

# Maximize the automated chrome window
driver.maximize_window()

# Opening up www.motor1.com website on automated chrome window
url = 'https://www.motor1.com/'
driver.get(url)

# clicking on menu button on left
gk = driver.find_element(By.XPATH,'//div[@class = "m1-hamburger-button"]')
gk.click()
time.sleep(3)

# clicking on lists in the menu opened
gk = driver.find_element(By.XPATH,'/html/body/div[3]/div[1]/div[3]/ul/li[4]/a')
gk.click()
time.sleep(3)

# clicking on 50 most expensive cars in the world.
gk = driver.find_element(By.XPATH,'//*[@id="page_index_articles_browse"]/div[9]/div[1]/div[1]/div/div/div[1]/div/div[1]/h3/a')
gk.click()
time.sleep(3)

# initializing required empty lists
car = []
price = []

# Let's extract all web elements having car names    
car_tags = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tags:
    car.append(i.text)
del car[50:]

# Let's extract all web elements having price    
price_tags = driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p/strong')
for i in price_tags:
    if i.text == "":
        continue # there was one null value for this tag at 5th position in list so removed it from the list
    else:
        price.append(i.text.replace("Price: ",""))

# creating the dataframe
df = pd.DataFrame({'Car': car, 'Price': price})
df

                                Car                 Price
0                         Drako GTE          $1.2 Million
1                     De Tomaso P72          $1.3 Million
2                 Ferrari LaFerrari          $1.4 Million
3                     Pagani Huayra          $1.4 Million
4                      McLaren Elva          $1.7 Million
5                       Czinger 21C          $1.7 Million
6                     Ferrari Monza          $1.7 Million
7                Gordon Murray T.33          $1.7 Million
8                 Koenigsegg Gemera          $1.7 Million
9                       Zenvo TSR-S          $1.7 Million
10               Hennessey Venom F5          $1.8 Million
11                  Bentley Bacalar          $1.9 Million
12    Hispano Suiza Carmen Boulogne          $1.9 Million
13           Bentley Mulliner Batur          $2.0 Million
14                     Deus Vayanne          $2.0 Million
15                      SSC Tuatara         $2.0 Million*
16                      Lotus Evija          $2.1 Million
17              Aston Martin Vulcan          $2.3 Million
18                       Delage D12          $2.3 Million
19                McLaren Speedtail          $2.3 Million
20                     Rimac Nevera          $2.4 Million
21                    Pagani Utopia          $2.5 Million
22             Pininfarina Battista          $2.5 Million
23                Ferrari FXX K Evo          $2.6 Million
24               Gordon Murray T.50          $2.6 Million
25             Lamborghini Countach          $2.6 Million
26         Mercedes-AMG Project One          $2.7 Million
27              Aston Martin Victor          $3.0 Million
28      Hennessey Venom F5 Roadster          $3.0 Million
29                 Koenigsegg Jesko          $3.0 Million
30            Aston Martin Valkyrie          $3.2 Million
31        W Motors Lykan Hypersport          $3.4 Million
32                    McLaren Solus          $3.5 Million
33        Pagani Huayra Roadster BC          $3.5 Million
34         Bugatti Chiron Pur Sport          $3.6 Million
35                 Lamborghini Sian          $3.6 million
36                 Koenigsegg CC850          $3.7 Million
37  Bugatti Chiron Super Sport 300+          $3.9 Million
38               Lamborghini Veneno          $4.5 Million
39                   Bugatti Bolide          $4.7 Million
40                  Bugatti Mistral          $5.0 Million
41              Pagani Huayra Imola          $5.4 Million
42                     Bugatti Divo          $5.8 Million
43              SP Automotive Chaos          $6.4 Million
44                 Pagani Codalunga          $7.4 Million
45         Mercedes-Maybach Exelero          $8.0 Million
46               Bugatti Centodieci          $9.0 Million
47             Rolls-Royce Sweptail         $12.8 Million
48         Bugatti La Voiture Noire         $13.4 Million
49           Rolls-Royce Boat Tail*  $28.0 Million (est.)